#############################################################
# Requirements

github "tattn/UserDefaults"
github "tattn/Alert"
github "tattn/SwiftyToast"
github "tattn/Coding"
github "tattn/Version"

# Result Monad
github "antitypical/Result"

# HTTP Networking
github "Alamofire/Alamofire"
github "ashleymills/Reachability.swift" ~> 3.0

# Storyboard/Nib Helper
github "tarunon/Instantiate"

# Object Mapping
github "ikesyo/Himotoki"
# github "Hearst-DD/ObjectMapper"
# github "Anviking/Decodable"
# github "johnsundell/unbox"


# Downloading and Caching image
github "onevcat/Kingfisher"


# Flat Color Framework
github "ViccAlexander/Chameleon"


# Mobile database
github "realm/realm-cocoa"


# Progress Indicator
github "SVProgressHUD/SVProgressHUD"

# KeyChain
github "kishikawakatsumi/KeychainAccess"

# Syntax suger for Date
github "malcommac/SwiftDate" ~> 4.1.2

# Reactive Programming
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxAlamofire"
github "RxSwiftCommunity/RxRealm"

#############################################################
# Optional

# Animation
# github "MengTo/Spring" "swift2"

# GPS
# github 'malcommac/SwiftLocation'

# XML
# github "yahoojapan/SwiftyXMLParser"
# github "chenyunguiMilook/SwiftyXML"

