#############################################################
# Requirements

github "tattn/SwiftExtensions"
github "tattn/UserDefaults"
github "tattn/Alert"
github "tattn/SwiftyToast"
github "tattn/Version"

# Result Monad
github "antitypical/Result"

# HTTP Networking
github "Alamofire/Alamofire"
github "ashleymills/Reachability.swift"

# Downloading and Caching image
github "onevcat/Kingfisher"

# Flat Color Framework (Deprecated)
# github "ViccAlexander/Chameleon"

# Progress Indicator
github "SVProgressHUD/SVProgressHUD"

# KeyChain
github "kishikawakatsumi/KeychainAccess"

# Syntax suger for Date
# github "malcommac/SwiftDate"

# Reactive Programming
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxAlamofire"
# github "RxSwiftCommunity/NSObject-Rx"
github "h1d3mun3-74k4h45h1/NSObject-Rx" # for Swift 5 (Temporary)

#############################################################
# Optional

# Mobile database
# github "realm/realm-cocoa"
# github "RxSwiftCommunity/RxRealm"

# Animation
# github "MengTo/Spring" "swift2"

# GPS
# github 'malcommac/SwiftLocation'

# XML
# github "yahoojapan/SwiftyXMLParser"
# github "chenyunguiMilook/SwiftyXML"

# In-App Purchase
# github "bizz84/SwiftyStoreKit"

#############################################################
# Firebase
# https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md

# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseABTestingBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAdMobBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDatabaseBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFunctionsBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseInAppMessagingBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseInAppMessagingDisplayBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseInvitesBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLModelInterpreterBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionBarcodeModelBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionFaceModelBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionLabelModelBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMLVisionTextModelBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json"
# binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseStorageBinary.json"
